.dashboard-page {
    padding: 20px;

    .stats-cards {
        .ant-card {
            transition: all 0.3s;
            background: var(--color-card-bg);
            color: var(--color-text-dark);

            .ant-statistic-title {
                color: var(--color-text-dark);
            }

            .ant-statistic-content {
                color: var(--color-text-dark);
            }
        }
    }

    .events-table {
        .ant-table {
            background: var(--color-card-bg);

            .ant-table-thead>tr>th {
                background: var(--color-card-bg);
                color: var(--color-text-dark);
            }

            .ant-table-tbody>tr>td {
                color: var(--color-text-dark);
                background: var(--color-secondary);
            }

            .ant-table-tbody>tr:hover>td {
                background: var(--color-primary-hover);
            }
        }
    }

    &.dark {
        .ant-card {
            background: var(--color-primary);
            color: var(--color-text);
        }

        .ant-table-thead>tr>th {
            background: var(--color-header-bg);
            color: var(--color-text);
        }

        .ant-table-tbody>tr>td {
            background: var(--color-secondary) !important;
            color: var(--color-text);
        }
    }
}