.root {
    display: flex;

    .root__left {
        width: 250px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .root__right {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}