/* Footer.scss */
.app-footer {
    text-align: center;
    padding: 20px;
    transition: all 0.3s;
    background: var(--color-footer-bg);
    color: var(--color-text);
    p {
        margin: 0;
    }
    &.light {
        background: var(--color-footer-bg);
        a {
            color: #fff;

            &:hover {
                color: var(--color-primary-hover);
            }
        }
    }

    &.dark {
        a {
            color: var(--color-text);

            &:hover {
                color: var(--color-primary-hover);
            }
        }
    }
}